img {
    width: 50px;
    height: 50px;
    border-radius:  50%;
    position: relative;
    left: 40px;
    top: -20px;
}
#container {
    display: flex;
    align-content: center;
}
#tabCountries {
    width: 300px;
    margin: 60px;
}
#tabFavorites {
    width: 300px;
    margin: 60px;
}
ul {
    list-style-type: none;
  }
li {
    position: relative;
    left: 55px;
    top: 45px
}
#title {
    font-family: OCR A Std, monospace;
    color: navy;
    margin: 50px;
}

/* #title2 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: navy;
    position: absolute;
    bottom: 483px;
    left: 240px;
} */
.country {
    width: 300px;
    height: 150px;;
    background-color: lightblue;
    border-style: solid;
    border-color: lightseagreen;
    margin: 10px;
    border-radius: 10px;
    font-family: Trebuchet MS, sans-serif;
    font-size: 17px;
    font-weight: 900;
}
.btn {
    position: relative;
    left: 2px;
    bottom: 14px;
    background-color: lightcoral;
    border-color: black;
    border-radius: 8px;
    width: 290px;
    height: 40px;
}
#header1 {
    background-color: mediumturquoise;
    border-radius: 10px;
    padding: 20px;
    border-style: solid;
    font-family: Blippo, fantasy;
}
#header2 {
    background-color: mediumturquoise;
    border-radius: 10px;
    padding: 20px;
    border-style: solid;
    font-family: Blippo, fantasy;
}
#column1 {
    margin: 10px;
}
#column2 {
    margin: 10px;
}